mixin headerMetaItem(data)
  li.header-meta-item
    span.header-meta-number= data.number
    span.header-meta-text= data.text

mixin destinationItem(data)
  a(href= data.link).destination-content-item 
    img(src= data.src).destination-content-img
    .destination-content-meta 
      i.fa.fa-heart.destination-content-meta-icon 
      span.destination-content-meta-number= data.number
    .destination-content-position 
      .destination-content-position-place= data.place
      .destination-content-position-nation= data.nation

mixin boatItem(data)
  a(href= data.link).boat-content-item 
    img(src= data.src).boat-content-img
    .boat-content-meta
      i.fa.fa-dollar-sign
      = data.money
    .boat-content-info 
      .boat-content-info-name= data.name
      span.boat-content-info-position
        i.fa.fa-location
        = data.position
      span.boat-content-info-berth
        i.fa.fa-users 
        = data.berth
      

mixin blockSubTitle(data)
  h2.blockSubTitle-heading= data.heading
  p.blockSubTitle-caption= data.caption

mixin blockTitle(data) 
  h1.blockTitle-heading= data.heading
  h2.blockTitle-caption= data.caption